body {
    /*background-color: #230864f9;*/
    background: linear-gradient(#160541f9, #ecddab);
    background-size: 3800% 3800%; 
    background-repeat: no-repeat;
}

.section1, .section2 {
    height: 500vh;
    display: flex;
    justify-content: center;
}

.title-welcomeTo {
    color: #eb5233;
    position: absolute;
    top: 15%;
    left: 20%;
    font-family:"Roboto", sans-serif;
    font-weight: 100;
    font-size: 50px
    
}

.title-pactify {
    color: #eb5233;
    position: absolute;
    top: 14%;
    left: 20%;
    font-family:'Gill Sans';
    font-size: 120px;
    
}

.input-email {
    transform: scale(1.5);

    position: absolute;
    top: 25%;
    right: 25%;
}

.input-password {
    transform: scale(1.5);

    position: absolute;
    top: 30%;
    right: 25%;
}

.input-button {
    position: absolute;
    top: 30%;
    right: 23%;
}

.options {
    color: white;
    position: relative;
    left: 63%;
    top: 280px;
    font-size: 18px;
}


